@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css {
    <link href="~/css/sweetalert.css" rel="stylesheet" />
    <link href="~/css/toastr.css" rel="stylesheet" />
    @RenderSection("css", false)
    <link href="~/css/admin.css" rel="stylesheet" />
    <link href="~/css/admin-responsive.css" rel="stylesheet" />
}
@section javascript {
    <script src="~/js/sweetalert.js"></script>
    <script src="~/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/js/jquery.scrollTo.js"></script>
    <script src="~/js/jquery.nicescroll.min.js"></script>
    <script src="~/js/common-scripts.js"></script>
    <script src="~/js/log.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script src="~/js/framework.js"></script>
    @RenderSection("Javascript", false)
}
@await Html.PartialAsync("navigator")
<section id="main-content" class="main-content">
    @RenderBody()
</section>
@section modal {
    @RenderSection("modal", false)
}