@{
    Layout = "_Bootstrap";
}
@section css {
    <environment include="Development">
        <link href="~/lib/toastr.js/toastr.css" rel="stylesheet" />
        <link href="~/lib/nprogress/nprogress.css" rel="stylesheet" />
        <link href="~/lib/sweetalert/sweetalert2.css" rel="stylesheet" />
        <link href="~/lib/scrollbar/jquery.mCustomScrollbar.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/lib/toastr.js/toastr.min.css" rel="stylesheet" />
        <link href="~/lib/nprogress/nprogress.min.css" rel="stylesheet" />
        <link href="~/lib/sweetalert/sweetalert2.min.css" rel="stylesheet" />
        <link href="~/lib/scrollbar/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    </environment>
    @RenderSection("css", false)
}
@section javascript {
    <environment include="Development">
        <script src="~/lib/scrollbar/jquery.mousewheel.js"></script>
        <script src="~/lib/scrollbar/jquery.mCustomScrollbar.js"></script>
        <script src="~/lib/signalr/dist/browser/signalr.js"></script>
        <script src="~/lib/dcjqaccordion/js/jquery.dcjqaccordion.2.7.js"></script>
        <script src="~/lib/sweetalert/sweetalert2.js" rel="stylesheet"></script>
        <script src="~/lib/nprogress/nprogress.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/scrollbar/jquery.mousewheel.min.js"></script>
        <script src="~/lib/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
        <script src="~/lib/dcjqaccordion/js/jquery.dcjqaccordion.2.7.min.js"></script>
        <script src="~/lib/sweetalert/sweetalert2.min.js" rel="stylesheet"></script>
        <script src="~/lib/nprogress/nprogress.min.js"></script>
    </environment>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/lib/dcjqaccordion/js/jquery.cookie.js"></script>
    <script src="~/js/common-scripts.js" asp-append-version="true"></script>
    @RenderSection("javascript", false)
    <script src="~/js/log.js" asp-append-version="true"></script>
}
@await Html.PartialAsync("Navigator")
<section id="main-content" class="main-content">
    @RenderBody()
</section>
@section modal {
    @RenderSection("modal", false)
}