<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/favicon.ico" />
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet">
    <link href="~/Content/css/bootstrap-theme.css" rel="stylesheet">
    <link href="~/Content/css/nprogress.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/site.css" rel="stylesheet" />
    <link href="~/Content/css/site-responsive.css" rel="stylesheet" />
    <!--[if lte IE 9 ]>
    <link href="../Content/css/IE8.css" rel="stylesheet" />
    <![endif]-->
    @RenderSection("css", false)
</head>
<body>
    <!--[if lte IE 9 ]>
    <div id="ieAlert" class="alert alert-danger alert-dismissible">
        <div>你的浏览器版本太低，不能完美的支持本系统，请升级到至少IE9 <a href="../IE/IE9.exe" target="_blank">速速点击下载</a> <a href="https://support.microsoft.com/zh-cn/help/17621/internet-explorer-downloads" target="_blank">微软官方下载</a> ！</div>
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
    </div>
    <![endif]-->
    @RenderBody()
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="~/content/js/jquery-1.10.2.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="~/content/js/bootstrap.js"></script>
    <script src="~/Content/js/nprogress.js"></script>
    <script src="~/content/js/Longbow.Common.js"></script>
    @RenderSection("Javascript", false)
</body>
</html>
