@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css {
    @RenderSection("css", false)
}
@section javascript {
    @RenderSection("Javascript", false)
}
<section id="main-content">
    @RenderBody()
</section>
