<!--footer start-->
<footer class="site-footer">
    <div class="text-center">
        <span id="websiteFooter"></span>
        <a href="#" class="go-top tooltips" data-placement="left" data-original-title="返回顶部">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>
</footer>
<!--footer end-->
