@model Bootstrap.Admin.Models.HeaderBarModel
<!--header start-->
<header class="header white-bg">
    <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="展开/收起 导航条"></div>
    </div>
    <!--logo start-->
    <a href="#" class="logo">后台管理系统</a>
    <!--logo end-->
    <nav class="navbar lgbMenu @Model.ShowMenu">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">参数设置 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="~/Home/Rules">规则设置</a></li>
                        <li class="divider"></li>
                        <li><a href="~/Home/Terminals">输入口设置</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </nav>
    <div class="top-nav">
        <!--search & user info start-->
        <ul class="nav pull-right top-menu">
            <li>
                <input type="text" class="form-control search" placeholder="搜索">
            </li>
            <!-- user login dropdown start-->
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <img alt="" src="../content/images/logo6.jpg">
                    <span class="username">@Model.DisplayName</span>
                    <b class="caret"></b>
                    <input id="userId" type="text" class="hide" value="@Model.UserID" />
                </a>
                <ul class="dropdown-menu extended logout">
                    <div class="log-arrow-up"></div>
                    <li><a href="#"><i class=" fa fa-suitcase"></i> 个人中心</a></li>
                    <li><a href="~/Admin"><i class="fa fa-cog"></i> 设置</a></li>
                    <li><a href="#"><i class="fa fa-bell-o"></i> 通知</a></li>
                    <li><a href="~/Home/Logout"><i class="fa fa-key"></i> 注销</a></li>
                </ul>
            </li>
            <!-- user login dropdown end -->
        </ul>
        <!--search & user info end-->
    </div>
    <!--breadcrumbs start -->
    <ul class="breadcrumb">
        <li><a href="@Url.Content(Model.HomeUrl)"><i class="fa fa-home"></i>首页</a></li>
        <li></li>
    </ul>
    <!--breadcrumbs end -->
</header>
<!--header end-->
