@model IEnumerable<Menu>
<div id="dialogSubMenu" class="modal-dialog">
    <div class="modal-content menu-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myMenuModalLabel">请选择菜单</h4>
        </div>
        <div class="modal-body">
            @if (Model.Count() > 0)
            {
                <div class="dd" id="nestable_menu">
                    @Html.Partial("SubMenuTree", @Model)
                </div>
            }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" id="btnSubmitMenu">保存</button>
        </div>
    </div>
</div>