<div class="modal fade" id="dialogMenu" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myMenuModalLabel" aria-hidden="true">
    <div id="dialogSubMenu" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myMenuModalLabel">请选择菜单</h4>
            </div>
            <div class="modal-body">
                <div class="dd" id="nestable_menu">
                    <ol class="dd-list"></ol>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnSubmitMenu">保存</button>
            </div>
        </div>
    </div>
</div>