@model Bootstrap.Admin.Models.NavigatorBarModel
<aside>
    <div id="sidebar" class="nav-collapse sidebar">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            @foreach (var menu in Model.Navigations)
            {
                @Html.Partial("SubMenu", menu)
            }
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>