<div class="modal fade" id="dialogMenu" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myMenuModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        @Html.Partial("MenuTree")
    </div>
</div>