@model NavigatorBarModel
<aside>
    <div id="sidebar" class="sidebar">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
            @foreach (var menu in Model.Navigations)
            {
                @await Html.PartialAsync("SubMenu", menu)
            }
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>