@{
    ViewBag.Title = "无权访问页面";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="info"><div>您无权访问本页面，请联系网站管理员授权后在查看</div><a href="@System.Web.Security.FormsAuthentication.DefaultUrl" target="_top">点击返回首页</a></div>
