@{
    ViewBag.Title = "首页";
    Layout = "_Bootstrap";
}
@section css {
    <style type="text/css">
        .content-body {
            position: fixed;
            left: 0;
            bottom: 40px;
            right: 0;
            top: 89px;
            overflow: hidden;
        }

        .header {
            margin-left: 0 !important;
        }

        .header nav {
            display: block !important;
        }

        .header .sidebar-toggle-box span {
            opacity: 1 !important;
        }

        .breadcrumb {
            border-top: solid 1px #ddd !important;
        }
    </style>
}
<div class="content-body welcome-bg">
</div>