<a id="tb_add" href="#" title="新增"><i class="fa fa-plus"></i></a>
<a id="tb_delete" href="#" title="删除"><i class="fa fa-remove"></i></a>
<a id="tb_edit" href="#" title="编辑"><i class="fa fa-pencil"></i></a>

