@model NavigatorBarModel
@{
    ViewBag.Title = "网站分析";
}
@section css {
    <environment include="Development">
        <link href="~/lib/datetimepicker/css//bootstrap-datetimepicker.css" rel="stylesheet" />
        <link href="~/lib/bootstrap-table/bootstrap-table.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/lib/datetimepicker/css//bootstrap-datetimepicker.min.css" rel="stylesheet" />
        <link href="~/lib/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" />
    </environment>
    <style>
        .card .card-body {
            padding-bottom: 15px;
        }

        .spark {
            position: absolute;
        }

        .loading {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 178px;
            width: 100%;
        }

            .loading span {
                margin-left: 10px;
            }
    </style>
}
@section javascript {
    <environment include="Development">
        <script src="~/lib/bootstrap-table/bootstrap-table.js"></script>
        <script src="~/lib/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
        <script src="~/lib/datetimepicker/js/bootstrap-datetimepicker.js"></script>
        <script src="~/lib/echart/echarts-all.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/bootstrap-table/bootstrap-table.min.js"></script>
        <script src="~/lib/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
        <script src="~/lib/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
        <script src="~/lib/echart/echarts-all.min.js"></script>
    </environment>
    <script src="~/lib/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="~/js/analyse.js" asp-append-version="true"></script>
}
<div class="card d-none">
    <div class="card-header">查询条件</div>
    <div class="card-body">
        <form class="form-inline">
            <div class="row">
                <div class="form-group col-sm-auto">
                    <label class="control-label" for="txt_operate_start">起始时间</label>
                    <div class="input-group date">
                        <input id="txt_operate_start" class="form-control" size="16" type="text" value="@DateTime.Today.ToString("yyyy-MM-dd")" readonly>
                        <div class="input-group-append input-group-addon">
                            <div class="input-group-text"><span class="fa fa-times"></span></div>
                        </div>
                        <div class="input-group-append input-group-addon">
                            <div class="input-group-text"><span class="fa fa-calendar"></span></div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-auto">
                    <label class="control-label" for="txt_operate_end">终止时间</label>
                    <div class="input-group date">
                        <input id="txt_operate_end" class="form-control" size="16" type="text" value="@DateTime.Today.ToString("yyyy-MM-dd")" readonly>
                        <div class="input-group-append input-group-addon">
                            <div class="input-group-text"><span class="fa fa-times"></span></div>
                        </div>
                        <div class="input-group-append input-group-addon">
                            <div class="input-group-text"><span class="fa fa-calendar"></span></div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-auto">
                    <label class="control-label" for="txt_ip">请求IP</label>
                    <input type="text" class="form-control" id="txt_ip" />
                </div>
                <div class="form-group col-sm-auto flex-md-fill justify-content-md-end">
                    <button type="button" id="btn_query" class="btn btn-primary btn-fill"><i class="fa fa-search" aria-hidden="true"></i><span>查询</span></button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card">
    <div class="card-header">
        访问日志
    </div>
    <div class="card-body">
        <div id="trace" class="spark"></div>
        <div id="traceLoading" class="loading"><i class="fa fa-spinner fa-pulse"></i><span>正在加载...请稍等</span></div>
        <div id="traceChart" style="height: 178px">
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        登录日志
    </div>
    <div class="card-body">
        <div id="login" class="spark"></div>
        <div id="loginLoading" class="loading"><i class="fa fa-spinner fa-pulse"></i><span>正在加载...请稍等</span></div>
        <div id="loginChart" style="height: 178px">
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        操作日志
    </div>
    <div class="card-body">
        <div id="log" class="spark"></div>
        <div id="logLoading" class="loading"><i class="fa fa-spinner fa-pulse"></i><span>正在加载...请稍等</span></div>
        <div id="logChart" style="height: 178px">
        </div>
    </div>
</div>
