@model NavigatorBarModel
@{
    ViewBag.Title = "Api 文档";
    Layout = "_Admin";
}
@section javascript {
    <script src="~/js/apidoc.js" asp-append-version="true"></script>
}
@section css {
    <link href="~/css/api.css" rel="stylesheet" asp-append-version="true" />
}
<section>
    <div><h3>接口返回值定义</h3></div>
    <div><label class="control-label">布尔值：</label><div>成功返回True，失败返回False</div></div>
    <div><label class="control-label">对象：</label><div>Json字符串</div></div>
</section>
<section>
    <div><h3>接口请求定义</h3></div>
    <div><label class="control-label">内容类型</label><div>Content-Type:application/json; charset=utf-8</div></div>
    <div><label class="control-label">授权Token</label><div>Token:362a4733-341a-464d-ab12-e01554338839</div></div>
</section>