@model NavigatorBarModel
@{
    ViewBag.Title = "字典表维护";
    Layout = "~/Views/Shared/_Default.cshtml";
}
@section Javascript {
    <script src="~/Scripts/bootstrap3-typeahead.js"></script>
    <script src="~/scripts/Dicts.js"></script>
}
@section query {
    <form class="form-inline" role="form">
        <div class="row">
            <div class="form-group col-sm-6 col-md-5">
                <label class="control-label" for="txt_dict_cate">字典标签</label>
                <input type="text" class="form-control" id="txt_dict_cate" data-provide="typeahead" />
            </div>
            <div class="form-group col-sm-6 col-md-5">
                <label class="control-label" for="txt_dict_name">字典名称</label>
                <input type="text" class="form-control" id="txt_dict_name" />
            </div>
            <div class="form-group col-sm-6 col-md-5">
                <label class="control-label" for="txt_dict_define">字典类别</label>
                <div class="dropdown lgbDropdown">
                    <a id="txt_dict_define" class="btn btn-success" data-toggle="dropdown">
                        <span>全部</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" data-val="">全部</a></li>
                        <li class="divider"></li>
                        <li><a href="#" data-val="0">系统使用</a></li>
                        <li><a href="#" data-val="1">自定义</a></li>
                    </ul>
                </div>
            </div>
            <div class="form-group col-sm-6 col-md-5">
                <button type="button" id="btn_query" class="btn btn-primary form-control"><i class="fa fa-search" aria-hidden="true"></i><span>查询</span></button>
            </div>
        </div>
    </form>
}
@section toolbar {
    <div class="toolbar btn-group dropdown">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button"><i class="fa fa-gear"></i></button>
        <div class="dropdown-menu">
            @Html.Partial("_ButtonBarGroup")
        </div>
    </div>
}
@section modal {
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">字典编辑窗口</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" id="dataForm" name="dataForm" role="form">
            <input type="text" class="form-control hidden" id="dictID" name="dictID" />
            <div class="form-group">
                <label class="control-label col-sm-2" for="dictCate">字典标签</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="dictCate" name="dictCate" placeholder="不可为空，50字以内" maxlength="50" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="dictName">字典名称</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="dictName" name="dictName" placeholder="不可为空，50字以内" maxlength="50" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="dictCode">字典代码</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="dictCode" name="dictCode" placeholder="不可为空，50字以内" maxlength="50" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="dictDefine">字典类型</label>
                <div class="dropdown lgbDropdown dropup col-sm-10">
                    <a id="dictDefine" class="btn btn-success" data-toggle="dropdown" data-default-val="1">
                        <span>全部</span><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" data-val="0">系统使用</a></li>
                        <li><a href="#" data-val="1">自定义</a></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
}