@model Bootstrap.Admin.Models.NavigatorBarModel
@{
    ViewBag.Title = "字典表维护";
    Layout = "~/Views/Shared/_Default.cshtml";
}
@section Javascript {
    <script src="~/js/bootstrap3-typeahead.js"></script>
    <script src="~/js/Dicts.js"></script>
}
@section query {
    <form class="form-inline">
        <div class="form-row">
            <div class="form-group col-sm-6 col-md-5">
                <label class="control-label" for="txt_dict_cate">字典标签</label>
                <input type="text" class="form-control" id="txt_dict_cate" data-provide="typeahead" />
            </div>
            <div class="form-group col-sm-6 col-md-5">
                <label class="control-label" for="txt_dict_name">字典名称</label>
                <input type="text" class="form-control" id="txt_dict_name" />
            </div>
            <div class="form-group col-sm-6 col-md-5">
                <label class="control-label" for="txt_dict_define">字典类别</label>
                <div class="dropdown">
                    <button id="txt_dict_define" class="btn btn-success dropdown-select dropdown-toggle" data-toggle="dropdown">全部</button>
                    <div class="dropdown-menu">
                        <a href="#" data-val="">全部</a>
                        <div class="dropdown-divider"></div>
                        <a href="#" data-val="0">系统使用</a>
                        <a href="#" data-val="1">自定义</a>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-6 col-md-5">
                <button type="button" id="btn_query" class="btn btn-primary btn-fill"><i class="fa fa-search" aria-hidden="true"></i><span>查询</span></button>
            </div>
        </div>
    </form>
}
@section toolbar {
    <div class="toolbar btn-group dropdown">
        <button class="btn dropdown-toggle" data-toggle="dropdown" type="button"><i class="fa fa-gear"></i></button>
        <div class="dropdown-menu">
            @await Html.PartialAsync("_ButtonBarGroup")
        </div>
    </div>
}
@section modal {
    <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">字典编辑窗口</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    <div class="modal-body">
        <form class="form-inline">
            <input type="text" class="form-control d-none" id="dictID" data-default-val="0" />
            <div class="form-group col-12">
                <label class="control-label" for="dictCate">字典标签</label>
                <input type="text" class="form-control form-control-url" id="dictCate" placeholder="不可为空，50字以内" maxlength="50" data-valid="true" />
            </div>
            <div class="form-group col-12">
                <label class="control-label" for="dictName">字典名称</label>
                <input type="text" class="form-control form-control-url" id="dictName" placeholder="不可为空，50字以内" maxlength="50" data-valid="true" />
            </div>
            <div class="form-group col-12">
                <label class="control-label" for="dictCode">字典代码</label>
                <input type="text" class="form-control form-control-url" id="dictCode" placeholder="不可为空，50字以内" maxlength="50" data-valid="true" />
            </div>
            <div class="form-group col-12">
                <label class="control-label" for="dictDefine">字典类型</label>
                <div class="dropdown">
                    <button id="dictDefine" class="btn btn-success dropdown-select dropdown-toggle" data-toggle="dropdown" data-default-val="1">全部</button>
                    <div class="dropdown-menu">
                        <a href="#" data-val="0">系统使用</a>
                        <a href="#" data-val="1">自定义</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
}