@model NavigatorBarModel
@{
    ViewBag.Title = "图标集";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@section css {
    <link href="~/Content/css/fa.css" rel="stylesheet" />
    <link href="~/Content/css/fa.responsive.css" rel="stylesheet" />
}
@section javascript {
    <script src="~/Scripts/icon.js"></script>
}
@section header {
    @Html.Partial("Header", Model)
}
@section navigator {
    @Html.Partial("Navigator", Model)
}
<div class="faicon">
    @Html.Partial("IconView")
</div>
