@model NavigatorBarModel
@{
    ViewBag.Title = "图标集";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@section css {
    <link href="~/css/fa.css" rel="stylesheet" />
}
@section javascript {
    <script src="~/js/icon.js"></script>
}
<div class="text-center"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></div>