@{
    ViewBag.Title = "Icon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css {
    <link href="~/Content/css/fa.css" rel="stylesheet" />
    <link href="~/Content/css/fa.responsive.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
}
@section javascript {
    <script src="~/Scripts/icon.js"></script>
}
<section class="container">
    <div class="panel-body" data-spy="scroll" data-target=".fb-timeliner">
        @Html.Partial("IconView")
    </div>
</section>