@model NavigatorBarModel
@{
    ViewBag.Title = "部门管理";
    Layout = "_Default";
}
@section javascript {
    <script src="~/js/groups.js" asp-append-version="true"></script>
}
@section query {
    <form class="form-inline">
        <div class="row">
            <div class="form-group col-sm-5 col-md-auto">
                <label class="control-label" for="txt_search_name">部门名称</label>
                <input type="text" class="form-control" id="txt_search_name" />
            </div>
            <div class="form-group col-sm-5 col-md-auto">
                <label class="control-label" for="txt_group_desc">部门描述</label>
                <input type="text" class="form-control" id="txt_group_desc" />
            </div>
            <div class="form-group col-sm-2 col-md-auto flex-md-fill justify-content-md-end">
                <button type="button" id="btn_query" class="btn btn-primary btn-fill align-self-sm-end align-self-md-auto"><i class="fa fa-search" aria-hidden="true"></i><span>查询</span></button>
            </div>
        </div>
    </form>
}
@section toolbar {
    <button id="btn_assignUser" type="button" class="btn btn-info" asp-auth="assignUser">
        <i class="fa fa-user" aria-hidden="true"></i><span>分配用户</span>
    </button>
    <button id="btn_assignRole" type="button" class="btn btn-warning" asp-auth="assignRole">
        <i class="fa fa-sitemap" aria-hidden="true"></i><span>分配角色</span>
    </button>
}
@section gear {
    <a id="tb_assignUser" href="#" title="分配用户" asp-auth="assignUser"><i class="fa fa-user"></i></a>
    <a id="tb_assignRole" href="#" title="分配角色" asp-auth="assignRole"><i class="fa fa-sitemap"></i></a>
}
@section modal {
    <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">部门编辑窗口</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    <div class="modal-body">
        <form class="form-inline">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="control-label" for="groupName">部门名称</label>
                    <input type="text" class="form-control" id="groupName" placeholder="不可为空，50字以内" maxlength="50" data-valid="true" />
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label" for="groupCode">部门编码</label>
                    <input type="text" class="form-control" id="groupCode" placeholder="不可为空，50字以内" maxlength="50" data-valid="true" />
                </div>
                <div class="form-group col-sm-6">
                    <input type="hidden" id="groupID" />
                    <label class="control-label" for="groupDesc">部门描述</label>
                    <input type="text" class="form-control" id="groupDesc" placeholder="描述信息(可为空)，50字以内" maxlength="50" />
                </div>
            </div>
        </form>
    </div>
}
@section customModal {
    @await Html.PartialAsync("RoleConfig")
    @await Html.PartialAsync("UserConfig")
}