<div data-spy="scroll" data-target=".fa-nav" class="iconview">
    @await Html.PartialAsync("AwesomeIcon")
    <div class="fa-nav">
        <h2>图标分类</h2>
        <nav class="nav">
            <a class="nav-link" href="#fa-top">返回顶部</a>
            <a class="nav-link" href="#fa-bottom">返回底部</a>
            <a class="nav-link" href="#new">新图标</a>
            <a class="nav-link" href="#web-application">Web 图标</a>
            <a class="nav-link" href="#accessibility">辅助图标</a>
            <a class="nav-link" href="#hand">手形图标</a>
            <a class="nav-link" href="#transportation">交通运输图标</a>
            <a class="nav-link" href="#gender">性别图标</a>
            <a class="nav-link" href="#file-type">文件类型图标</a>
            <a class="nav-link" href="#spinner">微调控制项图标</a>
            <a class="nav-link" href="#form-control">格式控制图标</a>
            <a class="nav-link" href="#payment">支付图标</a>
            <a class="nav-link" href="#chart">图表图标</a>
            <a class="nav-link" href="#currency">货币图标</a>
            <a class="nav-link" href="#text-editor">文本编辑图标</a>
            <a class="nav-link" href="#directional">方向图标</a>
            <a class="nav-link" href="#video-player">影像播放器图标</a>
            <a class="nav-link" href="#brand">品牌图标</a>
            <a class="nav-link" href="#medical">医疗图标</a>
            <a class="nav-link" href="#fa-top">返回顶部</a>
            <a class="nav-link" href="#fa-bottom">返回底部</a>
        </nav>
    </div>
</div>