@model Bootstrap.Admin.Models.ModelBase
@{
    ViewBag.Title = "后台管理";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@section header {
    @Html.Partial("Header", Model)
}
@section navigator {
    @Html.Partial("Navigator", Model)
}
@section Javascript {
    <script src="~/scripts/well.js"></script>
}
<div class="well-bg"><h4>欢迎使用后台管理</h4></div>
