@model ModelBase
@{
    ViewBag.Title = "后台管理";
}
@section css {
    <style>
        .main-content {
            position: fixed;
        }

            .main-content h4 {
                color: #fff;
                margin-top: 0;
            }

            .main-content .main-header {
                display: none;
            }
    </style>
}
@section javascript {
    <script>
        $(function () {
            $('#main-content').addClass('welcome-bg');
        });
    </script>
}
<h4>欢迎使用后台管理</h4>