@model Bootstrap.Admin.Models.ModelBase
@{
    ViewBag.Title = "后台管理";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@section css {
    <style>
        .site-footer, .main-content {
            position: fixed;
        }

            .main-content h4 {
                color: #fff;
            }
    </style>
}
@section javascript {
    <script>
        $(function () {
            $('#main-content').addClass('welcome-bg');
        });
    </script>
}
<div><h4>欢迎使用后台管理</h4></div>
