@model NavigatorBarModel
@{
    ViewBag.Title = "个人中心";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@section css {
    <link href="~/Content/css/tasks.css" rel="stylesheet" />
}
@section header {
    @Html.Partial("Header", Model)
}
@section navigator {
    @Html.Partial("Navigator", Model)
}
<div class="panel panel-default">
    <div class="panel-heading">个人资料</div>
    <div class="panel-body">
        <div class="row">
            <form class="form-inline" id="infoDataForm" name="infoDataForm" role="form">
                <div class="form-group col-lg-6">
                    <label class="control-label" for="realName">真实姓名</label>
                    <input type="text" class="form-control" id="realName" name="realName" maxlength="50" />
                </div>
                <div class="form-group col-lg-6">
                    <label class="control-label" for="email">邮箱</label>
                    <input type="text" class="form-control" id="email" name="email" maxlength="50" />
                </div>
                <div class="form-group col-lg-6">
                    <label class="control-label" for="phoneNumber">手机号码</label>
                    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" />
                </div>
                <div class="form-group col-lg-6">
                    <label class="control-label" for="birthday">出生年月</label>
                    <input type="text" class="form-control" id="birthday" name="birthday" />
                </div>
                <div class="form-group col-lg-6">
                    <label class="control-label" for="profiles">个人简介</label>
                    <textarea cols="50" rows="3" id="profiles" name="profiles"></textarea>
                </div>
                <div class="modal-footer">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">保存</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">修改密码</div>
    <div class="panel-body">
        <form id="passwordDataForm" name="passwordDataForm" role="form">
            <div class="input-group">
                <label class="control-label" for="currentPassword">当前密码: </label>
                <input type="password" class="form-control" id="currentPassword" name="currentPassword" maxlength="50" />
            </div>
            <div class="input-group">
                <label class="control-label" for="newPassword">最新密码: </label>
                <input type="password" class="form-control" id="newPassword" name="newPassword" maxlength="50" />
            </div>
            <div class="input-group">
                <label class="control-label" for="confirmPassword">确认密码: </label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" maxlength="50" />
            </div>
            <div class="modal-footer">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">保存</button>
                </span>
            </div>
        </form>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">修改头像</div>
    <div class="panel-body">
        <form id="imgDataForm" name="imgDataForm" role="form">
            <div class="input-group">
                <label class="control-label" for="uploadImg">上传头像: </label>
                <img src="" id="headImg" width="100" height="100" />
                <input type="file" name="uploadImg" id="uploadImg"
                       accept="image/png,image/gif,image/jpeg,image/tiff,image/vnd.dwg,image/vnd.dxf,image/vnd.svf" />
            </div>
            <div class="modal-footer">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">保存</button>
                </span>
            </div>
        </form>
    </div>
</div>
