@model NavigatorBarModel
@{
    ViewBag.Title = "系统日志";
    Layout = "~/Views/Shared/_Default.cshtml";
}
@section Javascript {
    <script src="~/scripts/Logs.js"></script>
}
@section header {
    @Html.Partial("Header", Model)
}
@section navigator {
    @Html.Partial("Navigator", Model)
}
@section query {
    <form class="form-inline" role="form">
        <div class="form-group col-lg-5">
            <label class="control-label" for="txt_operate_type">操作类型</label>
            <input type="text" class="form-control" id="txt_operate_type" />
        </div>
        <div class="form-group col-lg-5">
            <label class="control-label" for="txt_operate_start">起始时间</label>
            <input type="datetime" class="form-control" id="txt_operate_start" />
        </div>
        <div class="form-group col-lg-5">
            <label class="control-label" for="txt_operate_end">终止时间</label>
            <input type="datetime" class="form-control" id="txt_operate_end" />
        </div>

        <div class="form-group col-lg-2">
            <button type="button" id="btn_query" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>查询</button>
        </div>
    </form>
}
