@model NavigatorBarModel
@{
    ViewBag.Title = "通知管理";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@section Javascript {
    <script src="~/Content/js/sweetalert.js"></script>
    <script src="~/Scripts/News.js"></script>
}
@section css {
    <link href="~/Content/css/tasks.css" rel="stylesheet" />
}
@section header {
    @Html.Partial("Header", Model)
}
@section navigator {
    @Html.Partial("Navigator", Model)
}
<div class="panel panel-default">
    <div class="panel-heading">新用户注册未授权通知<span class="pull-right"><a href="javascript:;" class="tooltips fa fa-refresh" data-placement="left" data-original-title="点击刷新"></a></span></div>
    <div class="panel-body">
        <div class="tasks-widget">
            <ul id="sortable" class="task-list ui-sortable">
                <li class="list-primary" >
                    <div class="task-title">
                        <span class="task-title-sp">注册名：测试小王</span>
                        <span class="task-title-sp">注册时间：20016-9-18</span>
                        <span class="task-title-sp">注册描述：某某部门新入职员工</span>
                        <div class="pull-right hidden-phone">
                            <button class="btn btn-danger btn-xs fa fa-trash-o tooltips" data-placement="left" data-original-title="同意授权"></button>
                            <button class="btn btn-danger btn-xs fa fa-trash-o tooltips" data-placement="left" data-original-title="拒绝授权"></button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

