@model Bootstrap.Admin.Models.NavigatorBarModel
@{
    ViewBag.Title = "通知管理";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@section Javascript {
    <script src="~/js/noti.js"></script>
}
@section css {
    <link href="~/css/tasks.css" rel="stylesheet" />
}
<div class="card">
    <div class="card-header">用户注册<span class="pull-right"><a id="refreshUsers" href="javascript:;" class="fa fa-refresh" title="点击刷新" data-toggle="tooltip" data-placement="left"></a></span></div>
    <div class="card-body">
        <div class="tasks-widget">
            <ul id="tasks-users" class="task-list ui-sortable"></ul>
        </div>
    </div>
</div>
