@model NavigatorBarModel
@{
    ViewBag.Title = "通知管理";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@section Javascript {
    <script src="~/Content/js/sweetalert.js"></script>
    <script src="~/Scripts/noti.js"></script>
}
@section css {
    <link href="~/Content/css/sweetalert.css" rel="stylesheet" />
    <link href="~/Content/css/tasks.css" rel="stylesheet" />
}
@section header {
    @Html.Partial("Header", Model)
}
@section navigator {
    @Html.Partial("Navigator", Model)
}
<div class="panel panel-default">
    <div class="panel-heading">用户注册<span class="pull-right"><a href="javascript:;" class="tooltips fa fa-refresh" data-category="0" data-placement="left" data-original-title="点击刷新"></a></span></div>
    <div class="panel-body">
        <div class="tasks-widget">
            <ul id="tasks-users" class="task-list ui-sortable">
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">程序错误<a href="javascript:;" class="pull-right tooltips fa fa-refresh" data-category="1" data-placement="left" data-original-title="点击刷新"></a></div>
    <div class="panel-body">
        <div class="tasks-widget">
            <ul id="tasks-app" class="task-list ui-sortable">
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">数据库异常<span class="pull-right"><a href="javascript:;" class="tooltips fa fa-refresh" data-category="2" data-placement="left" data-original-title="点击刷新"></a></span></div>
    <div class="panel-body">
        <div class="tasks-widget">
            <ul id="tasks-db" class="task-list ui-sortable">
            </ul>
        </div>
    </div>
</div>

