@model NavigatorBarModel
@{
    ViewBag.Title = "个性化设置";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@section Javascript {

}
@section header {
    @Html.Partial("Header", Model)
}
@section navigator {
    @Html.Partial("Navigator", Model)
}
<div class="panel panel-default">
    <div class="panel-heading">系统名称设置</div>
    <div class="panel-body">
        <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">保存</button>
            </span>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">页脚设置</div>
    <div class="panel-body">
        <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">保存</button>
            </span>
        </div>
    </div>
</div>


