@model NavigatorBarModel
@{
    ViewBag.Title = "网站设置";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@section Javascript {
    <script src="~/Scripts/longbow.dataentity.js"></script>
    <script src="~/Scripts/sweetalert.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/messages_zh.js"></script>
    <script src="~/Scripts/Settings.js"></script>
}
@section css {
    <link href="~/Content/sweetalert.css" rel="stylesheet" />
    <link href="~/Content/tasks.css" rel="stylesheet" />
}
<div class="panel panel-default">
    <div class="panel-heading">系统名称设置</div>
    <div class="panel-body">
        <form id="headerDataForm" name="headerDataForm">
            <div class="input-group form-group col-xs-12">
                <input type="text" class="form-control" id="sysName" name="sysName" placeholder="请输入网站标题，50字以内" value="@Model.Title" maxlength="50" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="sysSave">保存</button>
                </span>
            </div>
        </form>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">页脚设置</div>
    <div class="panel-body">
        <form id="footerDataForm" name="footerDataForm">
            <div class="input-group form-group col-xs-12">
                <input type="text" class="form-control" id="sysFoot" name="sysFoot" placeholder="请输入网站页脚，50字以内" value="@Model.Footer" maxlength="50" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="footSave">保存</button>
                </span>
            </div>
        </form>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">网站样式</div>
    <div class="panel-body">
        <form id="CssDataForm" class="form-inline" name="CssDataForm">
            <div class="row">
                <div class="form-group col-xs-12">
                    <label class="control-label">网站样式</label>
                    <div class="dropdown lgbDropdown">
                        <a id="dictCssDefine" class="btn btn-success" data-toggle="dropdown" data-default-val="site.css">
                            <span>默认样式</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" id="cssContainer">
                            <li><a href="#" data-val="site.css">默认样式</a></li>
                        </ul>
                    </div>
                    <button class="btn btn-default pull-right" type="button" id="cssSave">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">网站缓存<a id="clearCache" href="#" class="clearcache fa fa-times-circle-o" data-admin="@LgbPrincipal.IsAdmin(User)" title="全部清除(WebAdmin可用)" role="tooltip" data-placement="left"></a><a id="refreshCache" href="#" class="pull-right fa fa-refresh" title="点击刷新" role="tooltip"></a></div>
    <div class="panel-body">
        <div class="tasks-widget">
            <ul id="sortable" class="task-list ui-sortable"></ul>
        </div>
    </div>
</div>