@model NavigatorBarModel
@{
    ViewBag.Title = "任务管理";
    Layout = "_Admin";
}
@section css {
    <link href="~/css/tasks.css" rel="stylesheet" asp-append-version="true" />
}
@section javascript {
    <script src="~/js/tasks.js" asp-append-version="true"></script>
}
<div class="card">
    <div class="card-header">任务消息<span class="pull-right"><a id="refreshTask" href="javascript:;" class="fa fa-refresh"></a></span></div>
    <div class="card-body">
        <div class="tasks-widget">
            <ul id="list-task" class="task-list ui-sortable"></ul>
        </div>
    </div>
</div>