@model Bootstrap.Admin.Models.NavigatorBarModel
@{
    ViewBag.Title = "用户管理";
    Layout = "~/Views/Shared/_Default.cshtml";
}
@section Javascript {
    <script src="~/scripts/Users.js"></script>
}
@section header {
    @Html.Partial("Header", Model)
}
@section navigator {
    @Html.Partial("Navigator", Model)
}
@section query {
    <form class="form-horizontal" role="form">
        <div class="form-group terminal-form-group">
            <label class="control-label col-lg-1" for="txt_search_name">用户名称</label>
            <div class="col-lg-4">
                <input type="text" class="form-control" id="txt_search_name" />
            </div>
            <div class="col-lg-2">
                <button type="button" id="btn_query" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>查询</button>
            </div>
        </div>
    </form>
}
@section modal {
    <div class="modal-content">
        <div class="modal-header  terminal-dialog-header">
            <button type="button" class="close terminal-close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">输入口编辑窗口</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal terminal-form-group" id="dataForm" name="dataForm" role="form">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="userName">用户名称</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="userName" name="userName" maxlength="50" />
                    </div>
                    <div class="col-sm-1" style="display:none;">
                        <input type="text" class="form-control" id="userID" name="userID" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="password">登录密码</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="password" name="password" maxlength="15" />
                    </div>
                    <label class="control-label col-sm-2" for="confirm">确认密码</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="confirm" name="confirm" maxlength="5" />
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
                关闭
            </button>
            <button type="button" class="btn btn-primary" id="btnSubmit">
                提交更改
            </button>
        </div>
    </div>
}