@model Bootstrap.Admin.Models.NavigatorBarModel
@{
    ViewBag.Title = "用户管理";
    Layout = "~/Views/Shared/_Default.cshtml";
}
@section Javascript {
    <script src="~/js/Users.js"></script>
}
@section query {
    <form class="form-inline">
        <div class="form-row">
            <div class="col-sm-auto">
                <div class="form-group">
                    <label class="control-label" for="txt_search_name">登陆名称</label>
                    <input type="text" class="form-control" id="txt_search_name" />
                </div>
            </div>
            <div class="col-sm-auto">
                <div class="form-group">
                    <label class="control-label" for="txt_display_name">显示名称</label>
                    <input type="text" class="form-control" id="txt_display_name" />
                </div>
            </div>
            <div class="col-sm-auto">
                <div class="form-group">
                    <button type="button" id="btn_query" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i><span>查询</span></button>
                </div>
            </div>
        </div>
    </form>
}
@section toolbar {
    <button id="btn_assignRole" type="button" class="btn btn-info">
        <span class="fa fa-sitemap" aria-hidden="true"></span><span class="hidden-tb">指派角色</span>
    </button>
    <button id="btn_assignGroup" type="button" class="btn btn-info">
        <span class="fa fa-bank" aria-hidden="true"></span><span class="hidden-tb">指派部门</span>
    </button>
    <div class="toolbar btn-group dropdown">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button"><i class="fa fa-gear"></i></button>
        <div class="dropdown-menu">
            @await Html.PartialAsync("_ButtonBarGroup")
            <a id="tb_assignRole" href="#" title="指派角色"><i class="fa fa-sitemap"></i></a>
            <a id="tb_assignGroup" href="#" title="指派部门"><i class="fa fa-bank"></i></a>
        </div>
    </div>
}
@section modal {
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">用户编辑窗口</h4>
    </div>
    <div class="modal-body">
        <form class="form-inline">
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label class="control-label" for="userName">登陆名称</label>
                    <input type="text" class="form-control" id="userName" placeholder="不可为空，50字以内" minlength="4" maxlength="50" remote="api/New/" data-remote-msg="此用户已存在" data-valid="true" />
                </div>
                <div class="form-group col-sm-6">
                    <input type="text" class="form-control hidden" id="userID" data-default-val="0" />
                    <label class="control-label" for="userName">显示名称</label>
                    <input type="text" class="form-control" id="displayName" placeholder="不可为空，50字以内" maxlength="50" data-valid="true" />
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label" for="password">登录密码</label>
                    <input type="password" class="form-control" id="password" placeholder="不可为空，50字以内" maxlength="50" data-valid="true" />
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label" for="confirm">确认密码</label>
                    <input type="password" class="form-control" id="confirm" placeholder="与登陆密码一致，50字以内" maxlength="50" equalTo="#password" data-valid="true" />
                </div>
            </div>
        </form>
    </div>
}
@section customModal {
    @await Html.PartialAsync("RoleConfig")
    @await Html.PartialAsync("GroupConfig")
}
