@inherits LayoutComponentBase
@layout DefaultLayout

<CascadingValue Value=this Name="Admin">
    <Section ShowCardTitle="@RootLayout.Model.ShowCardTitle" LockScreenPeriod=@RootLayout.Model.LockScreenPeriod>
        <TabSet @ref="TabSet"></TabSet>
    </Section>
</CascadingValue>
