<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    @RenderSection("css", false)
</head>
<body>
    @RenderBody()
    @RenderSection("Javascript", false)
</body>
</html>
