@model ModelBase
@{
    Layout = "_Root";
}
@section css {
    <environment include="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="~/lib/toastr/nuget/content/content/toastr.css" rel="stylesheet" />
        <link href="~/css/jquery.mCustomScrollbar.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/lib/toastr/nuget/content/content/toastr.min.css" rel="stylesheet" />
        <link href="~/css/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    </environment>
    @RenderSection("css", false)
    <link href="~/css/theme.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/theme-responsive.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site-responsive.css" rel="stylesheet" asp-append-version="true" />
    @if (!string.IsNullOrEmpty(Model.Theme))
    {
        <link href="~/css/@Model.Theme" rel="stylesheet" asp-append-version="true" />
    }
}
@section javascript {
    <environment include="Development">
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/js/jquery.mCustomScrollbar.js"></script>
        <script src="~/lib/toastr/nuget/content/scripts/toastr.js"></script>
        <script src="~/lib/signalr/dist/browser/signalr.js"></script>
        <script src="~/lib/dcjqaccordion/js/jquery.dcjqaccordion.2.7.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="~/lib/toastr/nuget/content/scripts/toastr.min.js"></script>
        <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
        <script src="~/lib/dcjqaccordion/js/jquery.dcjqaccordion.2.7.min.js"></script>
    </environment>
    <script src="~/lib/dcjqaccordion/js/jquery.cookie.js"></script>
    <script src="~/js/longbow.common.js" asp-append-version="true"></script>
    <script src="~/js/common-scripts.js" asp-append-version="true"></script>
    @RenderSection("javascript", false)
}
@await Html.PartialAsync("Header")
@await Html.PartialAsync("navigator")
<section class="container-fluid">
    @RenderBody()
</section>
@await Html.PartialAsync("Footer")
@RenderSection("modal", false)