@model ModelBase
<footer class="site-footer position-fixed">
    <span id="websiteFooter">@Model.Footer</span>
    <a id="gotoTop" href="#" class="go-top" title="返回顶部" data-toggle="tooltip" data-placement="left">
        <i class="fa fa-angle-up"></i>
    </a>
</footer>