@model NavigatorBarModel
@{
    ViewBag.Title = "字典表维护";
    Layout = "_Default";
}
@section css {
    <link href="~/lib/longbow-select/longbow-select.css" rel="stylesheet" />
}
@section javascript {
    <environment include="Development">
        <script src="~/lib/bootstrap-3-typeahead/bootstrap3-typeahead.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/bootstrap-3-typeahead/bootstrap3-typeahead.min.js"></script>
    </environment>
    <script src="~/lib/longbow-select/longbow-select.js"></script>
    <script src="~/js/dicts.js" asp-append-version="true"></script>
}
@section query {
    <form class="form-inline">
        <div class="row">
            <div class="form-group col-12">
                <label class="control-label" for="txt_dict_cate">字典标签</label>
                <input type="text" class="form-control" id="txt_dict_cate" data-provide="typeahead" data-default-val="" />
            </div>
            <div class="form-group col-12">
                <label class="control-label" for="txt_dict_name">字典名称</label>
                <input type="text" class="form-control" id="txt_dict_name" data-default-val="" />
            </div>
            <div class="form-group col-12">
                <label class="control-label" for="txt_dict_define">字典类型</label>
                <input class="form-control" data-toggle="lgbSelect" data-default-val="" />
                <select data-toggle="lgbSelect" class="d-none" id="txt_dict_define">
                    <option value="">全部</option>
                    <option value="0">系统使用</option>
                    <option value="1">自定义</option>
                </select>
            </div>
        </div>
    </form>
}
@section cardbody {
    <div class="alert alert-danger" role="alert" asp-condition="@Model.IsDemo">
        <span>演示系统禁止修改系统使用字典配置项</span>
    </div>
}
@section modal {
    <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">字典编辑窗口</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    <div class="modal-body">
        <form class="form-inline">
            <div class="row">
                <input type="hidden" id="dictID" />
                <div class="form-group col-sm-6">
                    <label class="control-label" for="dictCate">字典标签</label>
                    <input type="text" class="form-control" id="dictCate" placeholder="不可为空，50字以内" maxlength="50" data-valid="true" />
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label" for="dictDefine">字典类型</label>
                    <input class="form-control" data-toggle="lgbSelect" />
                    <select data-toggle="lgbSelect" class="d-none" data-default-val="1" id="dictDefine">
                        <option value="0">系统使用</option>
                        <option value="1">自定义</option>
                    </select>
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label" for="dictName">字典名称</label>
                    <input type="text" class="form-control" id="dictName" placeholder="不可为空，50字以内" maxlength="50" data-valid="true" />
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label" for="dictCode">字典代码</label>
                    <input type="text" class="form-control" id="dictCode" placeholder="不可为空，2000字以内" maxlength="2000" data-valid="true" />
                </div>
            </div>
        </form>
    </div>
}