@model NavigatorBarModel
@{
    ViewBag.Title = "站内消息";
}
@section javascript {
    <script src="~/js/message.js" asp-append-version="true"></script>
}
<div class="mail-box">
    <div class="sm-side">
        <div class="user-head">
            <a href="javascript:;" class="inbox-avatar">
                <img src="~/images/logo6.jpg" alt="">
            </a>
            <div class="user-name"><h5><a href="#">@Model.DisplayName</a></h5></div>
        </div>
        <div class="inbox-body">
            <a class="btn btn-compose" data-toggle="modal" href="#myModal">
                写消息
            </a>
        </div>
        <ul id="mailBox" class="inbox-nav inbox-divider">
            <li class="active">
                <a href="#" data-id="inbox"><i class="fa fa-inbox"></i>收信箱<span class="label label-danger pull-right" id="s_inbox"></span></a>
            </li>
            <li>
                <a href="#" data-id="sendmail"><i class="fa fa-envelope-o"></i>发信箱<span class="label label-danger pull-right" id="s_sendmail"></span></a>
            </li>
            <li>
                <a href="#" data-id="mark"><i class="fa fa-bookmark-o"></i>标旗消息<span class="label label-danger pull-right" id="s_mark"></span></a>
            </li>
            <li>
                <a href="#" data-id="trash"><i class=" fa fa-trash-o"></i>垃圾箱<span class="label label-danger pull-right" id="s_trash"></span></a>
            </li>
        </ul>
    </div>
    <div class="lg-side">
        <div class="inbox-head">
            <h3>消息列表</h3>
        </div>
        <div class="inbox-body">
            <table class="table table-inbox table-hover">
                <tbody id="tbMsg"></tbody>
            </table>
        </div>
    </div>
</div>