<label class="form-label">@DisplayText</label>
<BootstrapInputGroup>
    <Display Value="Value" Lookup="Lookup" ShowLabel="false"></Display>
    <Button Icon="fa-solid fa-xmark" Color="Color.Secondary" OnClick="OnClearText"></Button>
    <Button Icon="fa-solid fa-bars" OnClick="OnSelectMenu"></Button>
</BootstrapInputGroup>
