<TreeView TItem="Navigation" Items="Items" ShowIcon="true" OnTreeItemClick="OnTreeItemClick" />

@code {
    RenderFragment<Navigation> RenderTreeItem => item =>
    @<div class="d-flex flex-fill">
        <span class="flex-fill">@item.Name</span>
        <span class="mx-3">@item.Order</span>
        <span class="app-type">@item.IsResource.ToDescriptionString()</span>
        <span class="app-text">@GetApp(item.Application)</span>
    </div>;
}
