<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="cacheManager" type="Longbow.Caching.Configuration.CacheSection, Longbow.V4"/>
  </configSections>

  <connectionStrings>
    <add name="SQL" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=BootstrapAdmin;User ID=sa;Password=sa"/>
  </connectionStrings>

  <cacheManager>
    <add key="TerminalData-CodeTerminalHelper" interval="600" desc="输入口信息缓存" />
  </cacheManager>
</configuration>