@model ErrorModel
@{
    ViewBag.Title = Model.Title;
    Layout = "_Layout";
}
@section css {
    <link href="~/css/error.css" rel="stylesheet" />
}
@section javascript {
    <script src="~/js/error.js"></script>
}
<section class="error-wrapper">
    <img src="~/images/@Model.Image" />
    <h1>@Model.Content</h1>
    <h3>相关错误信息已经记录到日志中，请登录服务器查看</h3>
    <br />
    <a href="@Model.ReturnUrl" target="_top">返回首页</a>
</section>