@model HeaderBarModel
@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_Normal.cshtml";
}
@section javascript {
    <script src="~/Scripts/Content.js"></script>
}
<div id="content" class="content-body welcome-bg">
</div>