@model HeaderBarModel
@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_Bootstrap.cshtml";
}
@section css {
    <style>
        .site-footer {
            position: fixed;
        }
    </style>
}
<section id="main-content">
    <div id="content" class="content-body welcome-bg">
    </div>
</section>