@model Bootstrap.Admin.Models.HeaderBarModel
@{
    ViewBag.Title = "Rules";
    Layout = "~/Views/Shared/_Fix.cshtml";
}
@section header {
    @Html.Partial("Header", Model)
}
<h4>欢迎使用本系统</h4>