@{
    ViewBag.Title = "首页";
    Layout = "_Bootstrap";
}
@section css {
    <style type="text/css">
        .content-body {
            position: fixed;
            left: 0;
            bottom: 40px;
            right: 0;
            top: 96px;
            overflow: hidden;
        }
    </style>
}
<div class="content-body welcome-bg">
</div>