@model Bootstrap.Admin.Models.HeaderBarModel
@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_Normal.cshtml";
}
@section css {
    <style>
        .site-footer {
            position: fixed;
        }
    </style>
}
@section javascript {
    <script src="~/js/Content.js"></script>
}
<div id="content" class="content-body welcome-bg">
</div>