@model ContentModel
@{
    Layout = "~/Views/Shared/_Normal.cshtml";
}
@section javascript {
    <script src="~/Scripts/Content.js"></script>
}
@section header {
    @Html.Partial("Header", Model)
}
<div class="content-body">
    <iframe src="@Model.Url"></iframe>
</div>