@model ContentModel
@{
    Layout = "~/Views/Shared/_Normal.cshtml";
}
@section javascript {
    <script src="~/Scripts/Content.js"></script>
}
@section header {
    @Html.Partial("Header", Model)
}
<div id="content" class="content-body">
    <iframe src="@Model.Url"><a href="@Model.Url">你的浏览器不支持iframe页面嵌套，请点击这里访问页面内容。</a></iframe>
</div>