@model HeaderBarModel
@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_Normal.cshtml";
}
@section javascript {
    <script src="~/Scripts/Content.js"></script>
}
@section header {
    @Html.Partial("Header", Model)
}
<div id="content" class="content-body">
</div>