@model Bootstrap.Admin.Models.HeaderBarModel
@{
    ViewBag.Title = "Rules";
    Layout = "~/Views/Shared/_Normal.cshtml";
}
@section header {
    @Html.Partial("Header", Model)
}
<div style="height: 1000px;"><h4>欢迎使用本系统</h4></div>
