@model Bootstrap.Admin.Models.LockModel
@{
    ViewBag.Title = "系统登陆";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css {
    <link href="~/css/lock.css" rel="stylesheet" />
}
@section javascript {
    <script src="~/js/jquery.validate.js"></script>
    <script src="~/js/messages_zh.js"></script>
    <script src="~/js/lock.js"></script>
}
<div class="lock-wrapper">
    <div id="time"></div>
    <div class="lock-box text-center">
        <img alt="lock avatar" src="~/images/logo2.jpg" />
        <h1>@Model.DisplayName</h1>
        <span class="locked">系统已锁定</span>
        <form role="form" class="form-inline" method="post" autocomplete="off" action="~/Home/Login?ReturnUrl=@Model.ReturnUrl">
            <input type="text" name="username" class="hide" value="@Model.UserName" />
            <div class="form-group col-lg-12">
                <div class="input-group">
                    <span class="glyphicon glyphicon-lock input-group-addon"></span>
                    <input type="password" name="password" class="form-control" value="" autocomplete="off" placeholder="密码" />
                    <span class="input-group-btn">
                        <button class="btn btn-lock" type="submit">
                            <i class="glyphicon glyphicon-arrow-right"></i>
                        </button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>