@model LoginModel
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css {
    <link href="~/Content/login.css" rel="stylesheet" />
    <link href="~/Content/login-responsive.css" rel="stylesheet" />
}
@section javascript {
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/messages_zh.js"></script>
    <script src="~/Scripts/Login.js"></script>
}
<div class="container">
    <form id="login" class="form-signin" method="post">
        <h2 class="form-signin-heading">@Model.Title</h2>
        <div class="login-wrap">
            <div class="form-group">
                <div class="input-group">
                    <span class="glyphicon glyphicon-user input-group-addon"></span>
                    <input type="text" name="userName" class="form-control" placeholder="用户名" value="@Model.UserName" autofocus />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="glyphicon glyphicon-lock input-group-addon"></span>
                    <input type="password" name="password" class="form-control" value="@Model.Password" placeholder="密码" />
                </div>
            </div>
            <div class="checkbox">
                <input id="remember" name="remember" type="checkbox" checked value="true" /><label for="remember">记住我</label>
            </div>
            <button class="btn btn-lg btn-login btn-block" type="submit">登 陆</button>
            <div class="login-footer">
                <div class="login-create"><a href="Register">申请注册</a></div>
                <div class="login-reset"><a href="#">忘记密码</a></div>
            </div>
        </div>
    </form>
</div>
