@model LoginModel
@{
    ViewBag.Title = "系统登陆";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css {
    <link href="~/Content/css/site.css" rel="stylesheet" />
}
@section javascript {
    <script src="~/content/js/jquery.validate.js"></script>
    <script src="~/content/js/messages_zh.js"></script>
    <script src="~/Scripts/Login.js"></script>
}
<div class="container">
    <form id="login" class="form-signin" method="post">
        <h2 class="form-signin-heading">欢迎登陆本系统</h2>
        <div class="login-wrap">
            <div class="input-group">
                <span class="glyphicon glyphicon-user input-group-addon"></span>
                <input type="text" name="userName" class="form-control" placeholder="用户名" value="@Model.UserName" autofocus />
            </div>
            <div class="input-group">
                <span class="glyphicon glyphicon-lock input-group-addon"></span>
                <input type="password" name="password" class="form-control" value="@Model.Password" placeholder="密码" />
            </div>
            <div class="checkbox">
                <input id="remember" name="remember" type="checkbox" value="true" /><label for="remember">记住我</label>
            </div>
            <button class="btn btn-lg btn-login btn-block" type="submit">登 陆</button>
        </div>
    </form>
</div>
