@model Bootstrap.Admin.Models.HeaderBarModel
@{
    ViewBag.Title = "Terminals";
    Layout = "~/Views/Shared/_Normal.cshtml";
}
@section Javascript {
    <script src="~/content/js/sweetalert.js"></script>
    <script src="~/content/js/bootstrap-table.js"></script>
    <script src="~/content/js/bootstrap-table-zh-CN.js"></script>
    <script src="~/content/js/jquery.validate.js"></script>
    <script src="~/content/js/messages_zh.js"></script>
    <script src="~/scripts/Terminals.js"></script>
}
@section header {
    @Html.Partial("Header", Model)
}
<div class="panel panel-default">
    <div class="panel-heading">查询条件</div>
    <div class="panel-body">
        <form class="form-horizontal" role="form">
            <div class="form-group terminal-form-group">
                <label class="control-label col-sm-1" for="txt_search_name">输入口名称</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="txt_search_name" />
                </div>
                <label class="control-label col-sm-1" for="txt_search_ip">服务器IP</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="txt_search_ip" size="15" maxlength="15" />
                </div>
                <div class="col-sm-2">
                    <button type="button" id="btn_query" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>查询</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="toolbar" class="btn-group">
    <button id="btn_add" type="button" class="btn btn-success">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
    </button>
    <button id="btn_delete" type="button" class="btn btn-danger">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
    </button>
    <button id="btn_edit" type="button" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>编辑
    </button>
</div>

<div class="panel panel-default terminal-pannel">
    <div class="panel-heading">
        查询结果
    </div>
    <div class="panel-body table-body">
        <table></table>
    </div>
</div>

@section modal {
    <div class="modal fade" id="dialogNew" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog terminal-dialog">
            <div class="modal-content">
                <div class="modal-header  terminal-dialog-header">
                    <button type="button" class="close terminal-close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">输入口编辑窗口</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal terminal-form-group" id="dataForm" name="dataForm" role="form">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="terminalName">输入口名称</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="terminalName" name="terminalName" size="20" maxlength="50" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="clientIP">工控机IP</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="clientIP" name="clientIP" size="20" maxlength="15" />
                            </div>
                            <label class="control-label col-sm-2" for="clientPort">工控机Port</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="clientPort" name="clientPort" size="20" maxlength="5" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="serverIP">服务器IP</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="serverIP" name="serverIP" size="20" maxlength="15" />
                            </div>
                            <label class="control-label col-sm-2" for="serverPort">服务器Port</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="serverPort" name="serverPort" size="20" maxlength="5" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="deviceIP">比对设备IP</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="deviceIP" name="deviceIP" size="20" maxlength="15" />
                            </div>
                            <label class="control-label col-sm-2" for="devicePort">比对设备Port</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="devicePort" name="devicePort" size="20" maxlength="5" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="databaseName">数据库名称</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="databaseName" name="databaseName" maxlength="50" />
                            </div>
                            <div class="col-sm-1" style="display:none;">
                                <input type="text" class="form-control" id="terminalId" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="databaseUserName">数据库用户名</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="databaseUserName" name="databaseUserName" size="20" maxlength="50" />
                            </div>
                            <label class="control-label col-sm-2" for="databasePassword">数据库密码</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="databasePassword" name="databasePassword" size="20" maxlength="50" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="button" class="btn btn-primary" id="btnSubmit">
                        提交更改
                    </button>
                </div>
            </div>
        </div>
    </div>
}