@model NavigatorBarModel
@{
    ViewData["Title"] = "前台首页";
}
@section css {
    <link href="~/lib/captcha/slidercaptcha.css" rel="stylesheet" />
    <style>
        .img-tab {
            width: 345px;
            height: auto;
        }

        @@media (min-width: 667px) {
            .img-tab {
                width: 500px;
            }
        }
    </style>
}
@section javascript {
    <script src="~/lib/captcha/longbow.slidercaptcha.js"></script>
    <script src="~/js/index.js"></script>
}
<div class="form-inline">
    <div class="row">
        <div class="form-group col-12 col-lg-6">
            <div>
                <p>这是开源后台管理框架前台系统首页，欢迎使用</p>
                <p>点击右上角进入 <b>后台管理</b> 或者 <b><a href="@Model.SettingsUrl">直接进入</a></b></p>
                <p>系统密码</p>
                <p>
                    <ol>
                        <li>管理账号 Admin/123789</li>
                        <li>普通账号 User/123789</li>
                    </ol>
                </p>
                <p>最新功能更新请查看 <b><a href="https://gitee.com/dotnetchina/BootstrapAdmin/wikis/%E6%9B%B4%E6%96%B0%E6%97%A5%E5%BF%97?sort_id=1585945">更新日志</a></b></p>
                <p>
                    <button id="btnCaptcha" class="btn btn-success ml-2 ml-md-0"><i class="fa fa-send-o"></i><span>点击我出现行为验证码</span></button>
                    <div class="card d-none ml-2 ml-md-0" style="padding: 10px; height: 222px;">
                        <div id="captcha" data-imageLibUrl="@Model.ImageLibUrl"></div>
                    </div>
                </p>
                <p>全新 Blazor 框架通用后台权限管理 多 Tabs 模式 <b><a href="https://admin.blazor.zone/Pages/Admin/Dicts" target="_blank">预览地址</a></b></p>
                <br />
                <p><b>友情链接：</b></p>
                <p>Blazor UI 组件库 <b><a href="https://gitee.com/LongbowEnterprise/BootstrapBlazor" target="_blank">码云仓库</a></b></p>
                <p>百小僧 / Fur <b><a href="https://gitee.com/monksoul/Fur" target="_blank">码云仓库</a></b></p>
            </div>
        </div>
        <div class="form-group col-12 col-lg-6">
            <a href="https://admin.blazor.zone/images/tabs.png" target="_blank" title="点击查看高清大图">
                <img src="https://admin.blazor.zone/images/tabs.png" class="img-tab" />
            </a>
        </div>
    </div>
</div>
