@typeparam TModel

<Table TItem="TModel" IsBordered="true"
       IsStriped="true" DataService="@CustomerDataService"
       IsPagination="true" PageItemsSource="@PageSource"
       ShowToolbar="true" ShowExtendButtons="true"
       IsMultipleSelect="true" ShowSearch="true"
       OnColumnCreating="@OnCustomterColumnCreating"
       UseInjectDataService="true" ShowCardView="true"
       ShowColumnList="true">
    <TableColumns Context="v">
        @ColumnsTemplete(v)
    </TableColumns>
</Table>
