@page "/dict"

<Table TItem="Bootstrap.Security.BootstrapDict" IsBordered="true"
       IsStriped="true" DataService="@CustomerDataService"
       IsPagination="true" PageItemsSource="@PageSource"
       ShowToolbar="true" ShowExtendButtons="true" ShowLineNo="true"
       IsMultipleSelect="true" ShowSearch="true"
       AutoGenerateColumns="true" UseInjectDataService="true">
</Table>
