@inherits LayoutComponentBase

<div class="error">
    <div class="bg">
        <img alt="404" src="@Image" />
    </div>
    <h3>请求资源未找到</h3>
    <p>资源不存在或者没有访问权限，点击这里 <a href="/">返回首页</a> <span>或者</span> <a href="/healths-ui">系统自检</a></p>
</div>
