@model MailModel
@{
    ViewData["Title"] = "邮件测试工具";
}
<form method="post">
    <div class="form-group">
        <div class="input-group">
            <input type="password" name="auth" class="form-control" autocomplete="off" />
            <div class="input-group-append">
                <button type="submit" class="btn btn-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i><span>执行 (@Model.Result)</span></button>
            </div>
        </div>
    </div>
</form>