@model ModelBase
@{
    Layout = "_Root";
}
@section css {
    <environment include="Development">
        <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="~/lib/toastr.js/toastr.css" rel="stylesheet" />
        <link href="~/lib/overlayscrollbars/OverlayScrollbars.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/lib/toastr.js/toastr.min.css" rel="stylesheet" />
        <link href="~/lib/overlayscrollbars/OverlayScrollbars.min.css" rel="stylesheet" />
    </environment>
    @RenderSection("css", false)
    <link href="~/css/theme.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/theme-responsive.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site-responsive.css" rel="stylesheet" asp-append-version="true" />
    @if (!string.IsNullOrEmpty(Model.Theme))
    {
        <link href="~/css/@Model.Theme" rel="stylesheet" asp-append-version="true" />
    }
}
@section javascript {
    <environment include="Development">
        <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.js"></script>
        <script src="~/lib/signalr/dist/browser/signalr.js"></script>
        <script src="~/lib/overlayscrollbars/jquery.overlayScrollbars.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
        <script src="~/lib/overlayscrollbars/jquery.overlayScrollbars.min.js"></script>
    </environment>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/lib/longbow/longbow.common.js" asp-append-version="true"></script>
    <script src="~/js/common-scripts.js" asp-append-version="true"></script>
    @RenderSection("javascript", false)
}
@await Html.PartialAsync("Header")
@await Html.PartialAsync("Navigator")
<section class="container-fluid main-content">
    <div class="main-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/Home/Index"><i class="fa fa-home"></i>首页</a></li>
            <li class="breadcrumb-item d-none"></li>
        </ol>
    </div>
    @RenderBody()
</section>
@await Html.PartialAsync("Footer")
