@typeparam TItem
@inherits CheckboxBase<TItem>

<label role="checkbox" aria-checked="@State.ToCss()" class="@RenderStateCss()" @onclick="ToggleClick">
    <span class="checkbox-input">
        <span class="checkbox-inner"></span>
    </span>
    <span class="checkbox-label">@Text</span>
</label>
