@model ErrorModel
@{
    ViewBag.Title = Model.Title;
    Layout = "_Layout";
}
@section css {
    <link href="~/css/error.css" rel="stylesheet" asp-append-version="true" />
}
@section javascript {
    <script src="~/js/error.js" asp-append-version="true"></script>
}
<section class="error-wrapper">
    <img src="@Url.Content(Model.Image)" />
    <h1>@Model.Content</h1>
    <h3>@Model.Detail</h3>
    <p><a href="~/Account/Logout">登录</a> <span>或者</span> <a href="@Url.Content(Model.ReturnUrl)">返回首页</a> <span>或者</span> <a href="~/healths-ui">系统自检</a></p>
    @if (Model.Id == 403)
    {
        <div>
            <p>也可能是以下原因导致您没有权限</p>
            <p>1. 没有登录，请登录后查看</p>
            <p>2. 当前用户未获得此资源的相应权限，请联系管理员</p>
        </div>
    }
</section>