<div class="modal fade" id="dialogMenu" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myMenuModalLabel" aria-hidden="true">
    <div id="dialogSubMenu" class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myMenuModalLabel">请选择菜单</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body modal-body-fixed">
                <div class="dd" id="nestable_menu">
                    <ol class="dd-list"></ol>
                </div>
            </div>
            <div class="modal-footer">
                <div class="flex-fill d-none">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline1" name="customRadioInline" checked class="custom-control-input" value="all">
                        <label class="custom-control-label" for="customRadioInline1">全部</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline2" name="customRadioInline" class="custom-control-input" value="system">
                        <label class="custom-control-label" for="customRadioInline2">系统菜单</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline3" name="customRadioInline" class="custom-control-input" value="custom">
                        <label class="custom-control-label" for="customRadioInline3">外部菜单</label>
                    </div>
                </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                    <span>关闭</span>
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnSubmitMenu">
                    <i class="fa fa-save"></i>
                    <span>确认</span>
                </button>
            </div>
        </div>
    </div>
</div>