<div class="modal fade" id="dialogUser" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myUserModalLabel">用户授权窗口</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form class="form-inline">
                    <div class="row" id="useFilter">
                        <div class="form-group col-12">
                            <div class="input-group flex-fill">
                                <div class="input-group-prepend d-none d-sm-flex">
                                    <span class="input-group-text">过滤条件</span>
                                </div>
                                <input class="form-control" type="text" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">查询</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="userForm"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                    <span>关闭</span>
                </button>
                <button type="button" class="btn btn-primary" id="btnSubmitUser">
                    <i class="fa fa-save"></i>
                    <span>保存</span>
                </button>
            </div>
        </div>
    </div>
</div>