@model LoginModel
<div class="login-footer" asp-condition="@Model.IsDemo">
    <ui class="login-footer-body">
        <li><a href="https://gitee.com/LongbowEnterprise" target="_blank"><i class="fa fa-copyright"></i> Bootstrap Admin</a></li>
        <li><a href="https://gitee.com/dotnetchina/BootstrapAdmin/wikis" target="_blank">帮助文档</a></li>
        <li><a href="~/Account/Login?View=Login">系统默认</a></li>
        <li><a href="~/Account/Login?View=Login-Gitee">高仿码云</a></li>
        <li><a href="~/Account/Login?View=Login-Blue">蓝色简约</a></li>
        <li><a href="~/Account/Login?View=Login-Tec">科技动感</a></li>
        <li><a href="~/Account/Login?View=Login-LTE">Admin-LTE</a></li>
    </ui>
</div>
