@model LoginModel
<div class="login-footer" asp-condition="@Model.IsDemo">
    <ui class="login-footer-body">
        <li><a href="https://ba.sdgxgz.com"><i class="fa fa-copyright"></i> Bootstrap Admin</a></li>
        <li><a href="https://gitee.com/LongbowEnterprise/BootstrapAdmin/wikis" target="_blank">帮助文档</a></li>
        <li><a href="./Login?View=Login">系统默认</a></li>
        <li><a href="./Login?View=Login-Gitee">高仿码云</a></li>
    </ui>
</div>
