[Unit]
Description=Bootstrap Client Application

[Service]
Type=simple
WorkingDirectory=/usr/local/ba/client
Environment=ASPNETCORE_ENVIRONMENT=Production
ExecStart=/usr/bin/dotnet Bootstrap.Client.dll --urls http://localhost:49185
ExecStop=/bin/kill -2 $MAINPID
KillMode=process
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target
