@model NavigatorBarModel
@{
    ViewBag.Title = "图标集";
}
@section css {
    <link href="~/css/fa.css" rel="stylesheet" asp-append-version="true" />
}
@section javascript {
    <script src="~/js/icon.js" asp-append-version="true"></script>
}
<div class="text-center"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></div>