@model NavigatorBarModel
@{
    ViewBag.Title = "部门管理";
    Layout = "_Default";
}
@section javascript {
    <script src="~/js/groups.js" asp-append-version="true"></script>
}
@section query {
    <form class="form-inline">
        <div class="row">
            <div class="form-group col-12">
                <label class="control-label" for="txt_search_name">部门名称</label>
                <input type="text" class="form-control" id="txt_search_name" data-default-val="" />
            </div>
            <div class="form-group col-12">
                <label class="control-label" for="txt_group_desc">部门描述</label>
                <input type="text" class="form-control" id="txt_group_desc" data-default-val="" />
            </div>
        </div>
    </form>
}
@section toolbar {
    <button id="btn_assignUser" type="button" class="btn btn-info" asp-auth="assignUser">
        <i class="fa fa-user" aria-hidden="true"></i><span>分配用户</span>
    </button>
    <button id="btn_assignRole" type="button" class="btn btn-warning" asp-auth="assignRole">
        <i class="fa fa-sitemap" aria-hidden="true"></i><span>分配角色</span>
    </button>
}
@section gear {
    <a id="tb_assignUser" href="#" title="分配用户" asp-auth="assignUser"><i class="fa fa-user"></i></a>
    <a id="tb_assignRole" href="#" title="分配角色" asp-auth="assignRole"><i class="fa fa-sitemap"></i></a>
}
@section modal {
    <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">部门编辑窗口</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    <div class="modal-body">
        <form class="form-inline">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="control-label" for="groupName">部门名称</label>
                    <input type="text" class="form-control" id="groupName" placeholder="不可为空，50字以内" maxlength="50" data-valid="true" />
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label" for="groupCode">部门编码</label>
                    <input type="text" class="form-control" id="groupCode" placeholder="不可为空，50字以内" maxlength="50" data-valid="true" />
                </div>
                <div class="form-group col-sm-6">
                    <input type="hidden" id="groupID" />
                    <label class="control-label" for="groupDesc">部门描述</label>
                    <input type="text" class="form-control" id="groupDesc" placeholder="描述信息(可为空)，500字以内" maxlength="500" />
                </div>
            </div>
        </form>
    </div>
}
@section cardbody {
    <div class="alert alert-info" role="alert" asp-condition="@Model.IsDemo">
        <span>部门与组织结构中的带有层次关系的部门不同，用于资源权限的分配与管理 <a href="https://gitee.com/dotnetchina/BootstrapAdmin/wikis/%E6%95%B0%E6%8D%AE%E6%9D%83%E9%99%90?sort_id=1680495" target="_blank">参考文档</a></span>
    </div>
}
@await Html.PartialAsync("RoleConfig")
@await Html.PartialAsync("UserConfig")
