@model NavigatorBarModel
@{
    ViewBag.Title = "健康检查";
}
@section css {
    <environment include="Development">
        <link href="~/lib/bootstrap-table/bootstrap-table.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/lib/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" />
    </environment>
    <style>
        @@media (min-width: 768px) {
            .card-body .bootstrap-table tr td:nth-child(5),
            .card-body .bootstrap-table tr th:nth-child(5),
            .card-body .bootstrap-table tr td:last-child,
            .card-body .bootstrap-table tr th:last-child {
                width: 78px;
                text-align: center;
            }

            .modal-body .bootstrap-table tr td:first-child {
                word-break: keep-all;
                white-space: nowrap;
            }
        }
    </style>
}
@section javascript {
    <environment include="Development">
        <script src="~/lib/bootstrap-table/bootstrap-table.js"></script>
        <script src="~/lib/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/bootstrap-table/bootstrap-table.min.js"></script>
        <script src="~/lib/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    </environment>
    <script src="~/js/healths.js" asp-append-version="true"></script>
}
<div class="modal fade" id="dialogNew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">健康检查明细窗口</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body nobar">
                <table id="checkDetail"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                    <span>关闭</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        健康检查结果
    </div>
    <div class="card-body nobar">
        <div class="alert alert-info" role="alert" asp-condition="@Model.IsDemo">
            <p>本功能应用场景为发布后通过调用<b>健康检查</b>进行系统自我检测</p>
            <ol>
                <li>健康检查接口地址: <a href="~/healths">healths</a></li>
                <li>健康检查报表地址: <a href="~/healths-ui">healths-ui</a></li>
            </ol>
            <div>每项检查结果为：<span class="badge badge-pill badge-success badge-md"><i class="fa fa-check-circle"></i><span>健康</span></span> <span class="badge badge-pill badge-warning badge-md"><i class="fa fa-exclamation-circle"></i><span>亚健康</span></span> <span class="badge badge-pill badge-danger badge-md"><i class="fa fa-times-circle"></i><span>不健康</span></span></div>
        </div>
        <p>耗时：<span id="checkTotalEplsed">--</span></p>
        <table id="tbCheck"></table>
    </div>
</div>
