@model NavigatorBarModel
@{
    ViewBag.Title = "操作日志";
}
@section css {
    <environment include="Development">
        <link href="~/lib/datetimepicker/css//bootstrap-datetimepicker.css" rel="stylesheet" />
        <link href="~/lib/bootstrap-table/bootstrap-table.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/lib/datetimepicker/css//bootstrap-datetimepicker.min.css" rel="stylesheet" />
        <link href="~/lib/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" />
    </environment>
}
@section javascript {
    <environment include="Development">
        <script src="~/lib/bootstrap-table/bootstrap-table.js"></script>
        <script src="~/lib/bootstrap-table/extensions/export/bootstrap-table-export.js"></script>
        <script src="~/lib/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
        <script src="~/lib/tablexport/tableExport.js"></script>
        <script src="~/lib/datetimepicker/js/bootstrap-datetimepicker.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/bootstrap-table/bootstrap-table.min.js"></script>
        <script src="~/lib/bootstrap-table/extensions/export/bootstrap-table-export.min.js"></script>
        <script src="~/lib/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
        <script src="~/lib/tablexport/tableExport.min.js"></script>
        <script src="~/lib/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    </environment>
    <script src="~/lib/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="~/js/logs.js" asp-append-version="true"></script>
}
<div class="card">
    <div class="card-header">查询条件</div>
    <div class="card-body">
        <form class="form-inline">
            <div class="row">
                <div class="form-group col-sm-6 col-lg-auto">
                    <label class="control-label" for="txt_operate_start">起始时间</label>
                    <div class="input-group date">
                        <input id="txt_operate_start" class="form-control" size="16" type="text" value="@DateTime.Today.ToString("yyyy-MM-dd")" readonly>
                        <div class="input-group-append input-group-addon">
                            <div class="input-group-text"><span class="fa fa-times"></span></div>
                        </div>
                        <div class="input-group-append input-group-addon">
                            <div class="input-group-text"><span class="fa fa-calendar"></span></div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-6 col-lg-auto">
                    <label class="control-label" for="txt_operate_end">终止时间</label>
                    <div class="input-group date">
                        <input id="txt_operate_end" class="form-control" size="16" type="text" value="" readonly>
                        <div class="input-group-append input-group-addon">
                            <div class="input-group-text"><span class="fa fa-times"></span></div>
                        </div>
                        <div class="input-group-append input-group-addon">
                            <div class="input-group-text"><span class="fa fa-calendar"></span></div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-6 col-lg-auto">
                    <label class="control-label" for="txt_operate_type">操作类型</label>
                    <input type="text" class="form-control" id="txt_operate_type" />
                </div>
                <div class="form-group col-sm-6 col-lg-auto flex-sm-fill justify-content-sm-end align-self-sm-end">
                    <button type="button" id="btn_query" class="btn btn-primary btn-fill"><i class="fa fa-search" aria-hidden="true"></i><span>查询</span></button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card">
    <div class="card-header">
        查询结果
    </div>
    <div class="card-body">
        <table></table>
    </div>
</div>
<div class="modal fade" id="dialogRequestData" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">请求数据明细窗口</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form class="form-inline">
                    <div class="form-row">
                        <div class="form-group col-12">
                            <pre id="requestData"></pre>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                    <span>关闭</span>
                </button>
            </div>
        </div>
    </div>
</div>
