@model NavigatorBarModel
@{
    ViewBag.Title = "角色管理";
    Layout = "_Default";
}
@section css {
    <environment include="Development">
        <link href="~/lib/nestable2/jquery.nestable.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/lib/nestable2/jquery.nestable.min.css" rel="stylesheet" />
    </environment>
    <link href="~/css/fa.css" rel="stylesheet" asp-append-version="true" />
}
@section javascript {
    <environment include="Development">
        <script src="~/lib/nestable2/jquery.nestable.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/nestable2/jquery.nestable.min.js"></script>
    </environment>
    <script src="~/js/roles.js" asp-append-version="true"></script>
}
@section query {
    <form class="form-inline">
        <div class="row">
            <div class="form-group col-12">
                <label class="control-label" for="txt_search_name">角色名称</label>
                <input type="text" class="form-control" id="txt_search_name" data-default-val="" />
            </div>
            <div class="form-group col-12">
                <label class="control-label" for="txt_role_desc">角色描述</label>
                <input type="text" class="form-control" id="txt_role_desc" data-default-val="" />
            </div>
        </div>
    </form>
}
@section toolbar{
    <button id="btn_assignUser" type="button" class="btn btn-info" asp-auth="assignUser">
        <i class="fa fa-user" aria-hidden="true"></i><span>分配用户</span>
    </button>
    <button id="btn_assignGroup" type="button" class="btn btn-warning" asp-auth="assignGroup">
        <i class="fa fa-bank" aria-hidden="true"></i><span>分配部门</span>
    </button>
    <button id="btn_assignMenu" type="button" class="btn btn-secondary" asp-auth="assignMenu">
        <i class="fa fa-dashboard" aria-hidden="true"></i><span>分配菜单</span>
    </button>
    <button id="btn_assignApp" type="button" class="btn btn-success" asp-auth="assignApp">
        <i class="fa fa-cubes" aria-hidden="true"></i><span>分配应用</span>
    </button>
}
@section gear {
    <a id="tb_assignUser" href="#" title="分配用户" asp-auth="assignUser"><i class="fa fa-user"></i></a>
    <a id="tb_assignGroup" href="#" title="分配部门" asp-auth="assignGroup"><i class="fa fa-bank"></i></a>
    <a id="tb_assignMenu" href="#" title="分配菜单" asp-auth="assignMenu"><i class="fa fa-dashboard"></i></a>
    <a id="tb_assignApp" href="#" title="分配应用" asp-auth="assignApp"><i class="fa fa-cubes"></i></a>
}
@section cardbody {
    <div class="alert alert-danger" role="alert" asp-condition="@Model.IsDemo">
        <span>演示系统禁止修改内置角色（Administrators、Default）</span>
    </div>
}
@section modal {
    <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">角色编辑窗口</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    <div class="modal-body">
        <form class="form-inline">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="control-label" for="roleName">角色名称</label>
                    <input type="text" class="form-control" id="roleName" placeholder="不可为空，50字以内" maxlength="50" data-valid="true" />
                </div>
                <div class="form-group col-sm-6">
                    <input type="hidden" id="roleID" />
                    <label class="control-label" for="roleDesc">角色描述</label>
                    <input type="text" class="form-control" id="roleDesc" placeholder="描述信息(可为空)，500字以内" maxlength="500" />
                </div>
            </div>
        </form>
    </div>
}
@await Html.PartialAsync("UserConfig")
@await Html.PartialAsync("GroupConfig")
@await Html.PartialAsync("NavigatorConfig")
@await Html.PartialAsync("AppConfig")
