<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="exceptionManagement" type="Longbow.ExceptionManagement.Configuration.ExceptionManagerSectionHandler, Longbow.ExceptionManagement" />
    <section name="cacheManager" type="Longbow.Caching.Configuration.CacheSection, Longbow.V4"/>
    <section name="cacheManagerList" type="Longbow.Caching.Configuration.CacheListSection, Longbow.V4"/>
  </configSections>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="Admins" value="Argo;Test"/>
  </appSettings>

  <connectionStrings>
    <add name="SQL" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=BootstrapAdmin;User ID=sa;Password=sa"/>
  </connectionStrings>

  <cacheManager>
    <add key="MenuHelper-RetrieveMenus" interval="600" desc="所有菜单数据缓存" />
    <add key="MenuHelper-RetrieveMenusByRoleId" interval="600" desc="角色菜单信息缓存" />
    <add key="UserHelper-RetrieveUsers" interval="600" desc="所有用户数据缓存"/>
    <add key="UserHelper-RetrieveUsersByName" interval="600" desc="指定用户名的用户数据缓存"/>
    <add key="UserHelper-RetrieveUsersByRoleId" interval="600" desc="指定角色的用户数据缓存"/>
    <add key="UserHelper-RetrieveUsersByGroupId" interval="600" desc="指定组的用户数据缓存"/>
    <add key="RoleHelper-RetrieveRoles" interval="600" desc="所有角色数据缓存"/>
    <add key="RoleHelper-RetrieveRolesByUserId" interval="600" desc="指定用户的角色数据缓存"/>
    <add key="RoleHelper-RetrieveRolesByMenuId" interval="600" desc="指定菜单的角色数据缓存"/>
    <add key="RoleHelper-RetrieveRolesByGroupId" interval="600" desc="指定组的角色数据缓存"/>
    <add key="RoleHelper-RetrieveRolesByUserName" interval="600" desc="指定用户名的角色数据缓存"/>
    <add key="RoleHelper-RetrieveRolesByUrl" interval="600" desc="指定请求地址的角色数据缓存"/>
    <add key="GroupHelper-RetrieveGroups" interval="600" desc="所有组数据缓存"/>
    <add key="GroupHelper-RetrieveGroupsByUserId" interval="600" desc="指定用户的组数据缓存"/>
    <add key="GroupHelper-RetrieveGroupsByRoleId" interval="600" desc="指定角色的组数据缓存"/>
    <add key="LogHelper-RetrieveLogs" interval="600" desc="所有日志数据缓存"/>
    <add key="DictHelper-RetrieveDicts" interval="600" desc="所有字典数据缓存"/>
    <add key="DictHelper-RetrieveDictsWebSettings" interval="600" desc="网站配置数据缓存"/>
    <add key="NotificationHelper-RetrieveNotifications" interval="600" desc="通知管理数据缓存"/>
    <add key="UserHelper-RetrieveNewUsers" interval="300" desc="新用户数据缓存" />
    <add key="ExceptionHelper-RetrieveExceptions" interval="600" desc="程序异常数据缓存"/>
    <add key="MessageHelper-RetrieveMessagesFromOthers" interval="600" desc="接收消息数据缓存" />
    <add key="MessageHelper-RetrieveMessagesToOthers" interval="600" desc="发送消息数据缓存"/>
  </cacheManager>


  <cacheManagerList>
    <add key="bd" url="http://localhost:53233/CacheList.axd?cacheKey={0}" desc="系统缓存模块"/>
  </cacheManagerList>

  <exceptionManagement>
    <publisher name="default" mode="On" exceptionFormat="File"/>
    <publisher name="db" mode="On" assembly="Bootstrap.Admin" type="Bootstrap.Admin.DBPublisher"/>
  </exceptionManagement>

  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <authentication mode="Forms">
      <forms defaultUrl="~/" loginUrl="~/Home/Login" name="__bd__" protection="All" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <httpModules>
    </httpModules>
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="application/x-font-truetype" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="application/x-font-opentype" />
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler"
        preCondition="integratedMode,runtimeVersionv4.0"/>
      <add name="CacheListHandler" verb="*" path="CacheList.axd"  type="Longbow.Caching.CacheListHandler, Longbow.V4"/>
    </handlers>
    <modules>
      <add name="ExceptionManagement" type="Longbow.ExceptionManagement.ExceptionManagementModule, Longbow.ExceptionManagement"/>
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.0.0" newVersion="5.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>