@typeparam TItem

<Table TItem="TItem" IsBordered="true" IsStriped="true" IsMultipleSelect="true"
       IsPagination="IsPagination" PageItemsSource="PageSource"
       UseInjectDataService="true" DataService="DataService"
       ShowToolbar="true" ShowExtendButtons="true" ShowSearch="true"
       ShowCardView="true" ShowColumnList="true" OnColumnCreating="OnCustomterColumnCreating"
       CustomerSearchModel="@TableSearchModel">
    <TableToolbarTemplate>
        @TableToolbarTemplate
    </TableToolbarTemplate>
    <TableColumns>
        @ColumnsTemplete(context)
    </TableColumns>
    <CustomerSearchTemplate>
        @CustomerSearchTemplate(context)
    </CustomerSearchTemplate>
</Table>
