@{
    ViewBag.Title = "服务器内部错误";
    Layout = "_Root";
}
@section css {
    <link href="~/css/error.css" rel="stylesheet" asp-append-version="true" />
}
@section javascript {
    <script src="~/js/error.js" asp-append-version="true"></script>
}
<section class="error-wrapper">
    <img src="~/images/error_icon.png" />
    <h1>服务器内部错误</h1>
    <h3>相关错误信息已经记录到日志中，请登录服务器查看</h3>
    <br />
    <a href="~/Home/Index" target="_top">返回首页</a>
</section>