@{
    ViewBag.Title = "前台测试首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css {
}
@section javascript {
}
<div style="height: 1000px; background-color: #77af77">我就是一个测试页面</div>
<div>Bottom</div>