<div class="login-footer">
   <ul class="login-footer-body">
        <li><a href="https://www.gitee.com/LongbowEnterprise" target="_blank"><i class="fa-solid fa-copyright"></i> Bootstrap Admin</a></li>
       <li><a href="https://www.gitee.com/LongbowEnterprise/BootstrapAdmin/wikis" target="_blank">帮助文档</a></li>
       <li><a href="Account/Login?View=Login">系统默认</a></li>
       <li><a href="Account/Login?View=Login-Gitee">高仿码云</a></li>
       <li><a href="Account/Login?View=Login-Blue">蓝色简约</a></li>
       <li><a href="Account/Login?View=Login-Tec">科技动感</a></li>
       <li><a href="Account/Login?View=Login-LTE">Admin-LTE</a></li>
    </ul>
</div>
