@typeparam TItem

<Table TItem="TItem" IsBordered="true" IsStriped="true" IsMultipleSelect="true"
       IsPagination="IsPagination" PageItemsSource="PageItemsSource" IsFixedHeader="true" IsTree="IsTree" OnTreeExpand="OnTreeExpand!"
       UseInjectDataService="true" DataService="DataService" OnQueryAsync="OnQueryAsync!"
       ShowToolbar="true" ShowExtendButtons="true" ShowSearch="true"
       ShowCardView="true" ShowColumnList="true" ExtendButtonColumnWidth="@ExtendButtonColumnWidth"
       CustomerSearchModel="@TableSearchModel">
    <TableToolbarTemplate>
        @TableToolbarTemplate
    </TableToolbarTemplate>
    <TableColumns>
        @ColumnsTemplete?.Invoke(context)
    </TableColumns>
    <CustomerSearchTemplate>
        @CustomerSearchTemplate?.Invoke(context)
    </CustomerSearchTemplate>
    <RowButtonTemplate>
        @RowButtonTemplate?.Invoke(context)
    </RowButtonTemplate>
</Table>
