<div class="row g-3 form-inline">
    @foreach (var item in Clients)
    {
        var value = DictService.GetClientUrl(item.Value);
        <div class="col-12 col-sm-12">
            <BootstrapInputGroup @key="item.Value">
                <BootstrapInputGroupLabel DisplayText="@item.Key"></BootstrapInputGroupLabel>
                <BootstrapInput Value="value" Readonly="true"></BootstrapInput>
                <PopConfirmButton Placement="Placement.Top" Color="Color.Danger" Icon="fa-regular fa-trash-can" ConfirmIcon="fa-solid fa-exclamation-circle text-danger" ConfirmButtonColor="Color.Danger" Text="删除" Content="确定删除当前应用吗？" OnConfirm="() => OnDeleteClient(item.Value)" />
                <Button Icon="fa-solid fa-edit" Text="编辑" OnClickWithoutRender="() => OnEditClient(item.Value)" />
            </BootstrapInputGroup>
        </div>
    }
    <div class="col-12 col-sm-12 text-end">
        <Button ButtonType="ButtonType.Button" Icon="fa-solid fa-plus" Text="新增" OnClickWithoutRender="@OnSaveClient" />
    </div>
</div>