<div class="row g-3 form-inline">
    <div class="col-sm-6 col-md-6">
        <BootstrapInput @bind-Value="Value.Name" ShowLabel="true" DisplayText="字典名称" />
    </div>
    <div class="col-sm-6 col-md-6">
        <BootstrapInput @bind-Value="Value.Category" ShowLabel="true" DisplayText="字典标签" />
    </div>
    <div class="col-sm-6 col-md-6">
        <BootstrapInput @bind-Value="Value.Code" ShowLabel="true" DisplayText="字典代码" />
    </div>
    <div class="col-sm-6 col-md-6">
        <Select Items="@Items" @bind-Value="Value.Define" ShowLabel="true" DisplayText="字典类型" />
    </div>
</div>

@code {
    private IEnumerable<SelectedItem>? Items { get; set; } = typeof(EnumDictDefine).ToSelectList(new SelectedItem("", "全部"));

    [Parameter]
    [NotNull]
    public DictsSearchModel? Value { get; set; }

    [Parameter]
    public EventCallback<DictsSearchModel> ValueChanged { get; set; }
}