<div class="row g-3 form-inline">
    <div class="col-sm-6 col-md-6">
        <DateTimeRange @bind-Value="Value.LogTime" ShowLabel="true" AllowNull="false" />
    </div>
    <div class="col-sm-6 col-md-6">
        <BootstrapInput @bind-Value="Value.ErrorPage" ShowLabel="true" />
    </div>
    <div class="col-sm-6 col-md-6">
        <BootstrapInput @bind-Value="Value.UserId" ShowLabel="true" />
    </div>
    <div class="col-sm-6 col-md-6">
        <Select Items="@Items" @bind-Value="Value.Category" ShowLabel="true" />
    </div>
</div>
