<div class="row g-3 form-inline">
    <div class="col-sm-6 col-md-6">
        <DateTimeRange @bind-Value="Value.LogTime" ShowLabel="true" AllowNull="false" />
    </div>
    <div class="col-sm-6 col-md-6">
        <BootstrapInput @bind-Value="Value.IP" ShowLabel="true" />
    </div>
</div>
