<div class="tree-dialog">
    <label class="form-label">@DisplayText</label>
    <BootstrapInputGroup>
        <Display Value="Value" Lookup="Lookup" ShowLabel="false"></Display>
        <Button Icon="fa fa-times" Color="Color.Secondary" OnClick="OnClearText"></Button>
        <Button Icon="fa fa-bars" OnClick="OnSelectMenu"></Button>
    </BootstrapInputGroup>
</div>
