name: Auto Build CI

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Build with dotnet
      run: dotnet build src/blazor/admin/BootstrapAdmin.Web/ --configuration Release
