@inherits LayoutComponentBase
@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager navigationManager
@inject IConfiguration configuration

<Header></Header>
<div class="sidebar">
    <NavMenu />
</div>
<section id="main-content" class="main-content @Model?.ShowCardTitle welcome-bg">
    <input id="lockScreenPeriod" type="hidden" asp-condition="@Model?.EnableAutoLockScreen" value="@Model?.LockScreenPeriod" />
    @Body
</section>
<Footer></Footer>

@code {
    protected AdminModel? Model;

    protected override async Task OnInitializedAsync()
    {
        var state = await authenticationStateProvider.GetAuthenticationStateAsync();
        if (!state.User.Identity.IsAuthenticated)
        {
            navigationManager.NavigateTo("/Account/Login?returnUrl=" + WebUtility.UrlEncode(new Uri(navigationManager.Uri).PathAndQuery));
        }
        else
        {
            Model = new AdminModel(configuration.GetAppId());
        }
    }
}