@inherits AdminLayoutComponentBase
@layout DefaultLayout

<CascadingValue Value=this Name="Admin">
    <Section ShowCardTitle="@Layout.Model?.ShowCardTitle" LockScreenPeriod=@(Layout.Model?.LockScreenPeriod ?? 0)>
        <TabSet @ref="TabSet"></TabSet>
        <PageSet @ref="PageSet"></PageSet>
    </Section>
</CascadingValue>
