@typeparam TItem
@inherits QueryBase<TItem>

<div class="card">
    <div class="card-header">@Title</div>
    <div class="card-body">
        <LgbEditForm class="form-inline" Id="@Id" Model="QueryModel" OnValidSubmit="e => OnQuery?.Invoke()">
            <div class="row">
                @ChildContent?.Invoke(QueryModel)
                <div class="form-group col-sm-auto flex-sm-fill justify-content-sm-end align-self-sm-end">
                    <button type="submit" class="btn btn-primary btn-fill"><i class="fa fa-search"></i><span>@Text</span></button>
                </div>
            </div>
        </LgbEditForm>
    </div>
</div>
