@inherits SectionBase

<section class="main-content @(ShowCardTitle ? "" : "no-card-header") @(ShowBackground ? "welcome-bg" : "")">
    @if (LockScreenPeriod > 0)
    {
        <input id="lockScreenPeriod" type="hidden" value="@LockScreenPeriod" />
    }
    @ChildContent
</section>
