@page "/Pages"
@using Bootstrap.Admin.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/favicon.png" />
    <base href="~/" />
    <title>通用后台管理框架 Blazor 版</title>

    <link href="_content/BootstrapBlazor/css/bootstrap.blazor.bundle.min.css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/theme.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/theme-responsive.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site-responsive.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/lte.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/blazor.css" rel="stylesheet" asp-append-version="true" />
</head>
<body class="trans-mute">
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>
    <script src="_content/BootstrapBlazor/js/bootstrap.blazor.bundle.min.js"></script>
    <script src="~/js/ba.blazor.js"></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
